.link{
    text-decoration: none;
    margin-right: 15px;
    color: black;
    /* &.active{
        color: blue;
    } */
}
.link.active{
    color: blue;
}
.nav{
    display: flex;
     align-items: center;
}